*{
    box-sizing: border-box;
}
.container{
    background-color:  rgba(73, 181, 104, 0.891);
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgray;
    border-radius: 4px;
}
input[type="text"]
input[type="email"]
input[type="password"]
input[type="date"]
select,
textarea 
address{
    width: 100%;
    padding:12px;
    border: 1px solid rgba(73, 181, 104, 0.891);
    border-radius: 12px;
    
}
input[type="submit"]{
    text-align: center;
    width: 40%;
    padding:4px;
    border:normal rgb(210, 207, 207);
    border-radius: 12px;
    cursor: grab;


}
form{
    text-align: center;
}
